* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid yello;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins !important;
}
p,
a,
li,
button {
  font-family: inter !important;
}
@media (max-width: 480px) {
}
/* p {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
li {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
h2 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}
h3 {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
} */

.nav-main {
  position: sticky;
  top: 0%;
  background-color: #e1f6ff;
  z-index: 1000;
}
.nav {
  height: 5rem;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav h1 {
  display: inline;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: teal;
}
.nav a {
  text-decoration: none;
  color: black;
}
.nav a:hover {
  color: blue;
}
.nav div:nth-child(2) {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.nav-links {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: capitalize;
}
.nav-links a {
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.nav-links a:hover {
  background-color: teal;
  color: white;
}
@media (min-width: 481px) {
  .nav div:nth-child(3) {
    display: none;
  }
  .dropdown {
    display: none;
  }
}
@media (max-width: 480px) {
  .nav h1 {
    font-size: 15px;
  }
  .nav div:nth-child(2) {
    /*font-size: 5px;
        width: 40%;*/
    display: none;
  }
  .nav-main {
    width: 100%;
  }
  .nav {
    height: 25px;
    padding: 20px 0;
  }
  .dropdown {
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 55px;
    font-size: 15px;
    color: white;
  }
  .dropdown-content a li {
    padding: 10px 0 10px 10px;
    font-size: 15px;
    color: white;
  }

  .dropdown-content ul {
    background-color: teal;
    width: 70px;
  }
  .dropdown-content li {
    margin: 5px 0;
    text-align: center;
    list-style-type: none;
  }
  .dropdown .dropdown-content {
    transition: 0.5s ease-in;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
.header {
  display: flex;
  justify-content: space-around;
  height: 65rem;
  width: 90%;
  margin: 5rem auto 0 auto;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 20px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}
.header > div {
  width: 40%;
}
.header-text h1 {
  text-transform: uppercase;
  margin: 1rem 0;
}
.header-text h3::first-letter,
p::first-letter {
  text-transform: capitalize;
}
.header-image {
  height: 70%;
  width: 40% !important;
  border-radius: 50%;
}

.header img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  object-fit: contain;
}
.header-text h3 {
  font-size: 2.5rem;
}
.header-text h1 {
  font-size: 3.5rem;
  width: 100%;
  white-space: nowrap;
}
.header-text p {
  font-size: 1.6rem;
}
@media (max-width: 480px) {
  .header h1 {
    font-size: 20px;
  }
  .header h3,
  .header p {
    font-size: 15px;
  }
  .header {
    height: 300px;
    flex-direction: column;
    padding: 10px;
    /*  background-image: url(https://en.idei.club/uploads/posts/2023-06/thumbs/1687562567_en-idei-club-p-programming-languages-background-dizain-in-53.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;*/
  }
  .header > div {
    width: 100%;
  }
  .header-image {
    display: none;
  }
  .header {
    background-color: white;
    box-shadow: 0 0 0;
  }
}
#about {
  margin: 1.5rem 0 1.5rem 0;
  padding: 5% 20%;
  width: 100% !important;
  background-color: #e1f6ff;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 2rem;
}
#about h1::first-letter {
  text-transform: capitalize;
}
.about-text p {
  margin: 0.5rem 0;
  font-size: 1.6rem;
}
.about-text h1 {
  font-size: 3.5rem;
}
.about-text h2 {
  font-size: 2.5rem;
}
.about-text {
  width: 70%;
}
.about-image {
  height: 70%;
  background-color: white;
  width: 30%;
}
.about-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: inherit;
}
#about a {
  text-decoration: none;
  color: teal;
  background-color: white;
  font-size: 1.6rem;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}
.about-text h3 {
  font-size: 2rem;
}
.git-link {
  background-color: transparent !important;
  box-shadow: none !important;
  color: teal !important;
  font-size: 1.6rem !important;
}
.git-link:hover {
  text-decoration: underline !important;
}
.icons {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
/* .icons a i {
  font-size: 1.6rem;
} */
@media (max-width: 480px) {
  #about {
    height: 30rem;
    flex-direction: column;
    margin-bottom: 0;
  }
  #about h1 {
    font-size: 20px;
  }
  #about h2,
  #about h3 {
    font-size: 15px;
  }
  #about p {
    font-size: 13px;
  }
  .about-image {
    width: 100%;
    height: 300px;
  }
  .about-image img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  #about > div {
    width: 100%;
    padding: 5px;
  }
  #about {
    padding: 10px;
    height: auto;
  }
  .icons {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
  }
  .icons a {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 2px;
  }
}
.education {
  height: 40rem;
}
.education h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3.5rem;
}
.school h3 {
  font-size: 2rem;
  text-transform: capitalize;
}
.school {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  height: 80%;
  margin: 1rem 0;
}
.school > div {
  width: 25%;
  height: 100%;
  /* text-align: justify !important;
  white-space: wrap; */
}
.school > div:not(:first-child) {
  padding: 5% 20px;
  text-align: justify;
}
.school p {
  font-size: 1.6rem;
  font-weight: 300;
}
.school img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gradcap {
  overflow: hidden;
  height: 100%;
}
@media (max-width: 480px) {
  .school {
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    margin: 0;
  }
  .school > div:nth-child(1) {
    display: none;
  }
  .school h3 {
    font-size: 14px;
  }
  .school p {
    font-size: 13px;
  }
  .school > div {
    width: 100%;
    height: 20%;
  }

  .school > div:not(:first-child) {
    padding: 2% 10px;
  }
}

@media (max-width: 480px) {
  .education {
    height: 500px;
    padding: 10px 5px;
  }
  .education h1 {
    font-size: 15px;
  }
}
.certify {
  height: 20rem;
  background-color: #e1f6ff;
  padding: 0.2rem 0;
}
.certify h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3.5rem;
}
.certify p {
  text-transform: capitalize;
  border: 0.2rem solid teal;
  width: 10%;
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  transition: 0.3s;
  letter-spacing: 1rem;
  font-size: 1.6rem;
}
.certify p:hover {
  background-color: teal;
  color: white;
}
@media (max-width: 480px) {
  .certify h1 {
    font-size: 15px;
  }
  .certify p {
    font-size: 13px;
    width: 25%;
    padding: 5px;
    margin: 10px auto;
    border: 1px solid teal;
  }
  .certify {
    height: 100px;
    /* margin-top: 300px;*/
  }
}

#skills {
  padding: 3% 10%;
  /*background-color: rgba(135, 206, 235, 0.1);*/
}
#skills h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-size: 3.5rem;
}
#skills h2::first-letter {
  text-transform: capitalize;
}
#skills > div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
#skills > div > div {
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
#skills > div > div h2 {
  font-size: 2.5rem;
}
#skills li {
  margin: 0.5rem 0;
  font-size: 1.6rem;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  #skills h1 {
    font-size: 20px;
  }
  #skills h2 {
    font-size: 15px;
  }
  #skills li {
    font-size: 10px;
  }
  #skills > div > div {
    padding: 10px 15px;
  }
  #skills > div {
    grid-template-columns: auto;
    grid-row-gap: 10px;
  }
}
.skills li::first-letter {
  text-transform: capitalize;
}
/*.skills>div>div:hover{
    transform: scale(1.1);
}*/
#project-link h1 {
  text-align: center;
  margin-bottom: 1rem;
}
#project-link h1::first-letter {
  text-transform: capitalize;
}
#project-link > h1 {
  font-size: 3.5rem;
}
.project-btn {
  text-align: center;
}
.project-btn button {
  padding: 1rem;
  margin: 0 1.5rem 0 1.5rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 2rem;
  background-color: white;
  transition: 0.3s ease-in;
  text-transform: uppercase;

  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.project-btn button:hover {
  background-color: teal;
  color: white;
}
#project-link {
  /* margin: 5% 10%;
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 30px;*/
  padding: 3% 20%;
  background-color: #e1f6ff;
}

@media (max-width: 480px) {
  #project-link {
    padding: 5px;
  }
  #project-link h1 {
    font-size: 15px;
  }
  .project-btn button {
    padding: 5px;
    font-size: 10px;
  }
}
.con {
  margin: 5% 10%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}
.con div:nth-child(6) {
  background-color: transparent;
  grid-column: span 2;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}
#btn-con button {
  height: 100%;
  width: 25%;
  background-color: transparent;
  text-transform: capitalize;
  border: 2px solid teal;
  text-align: center;
  transition: 0.3s;
  padding: 10px;
  letter-spacing: 1px;
}
#btn-con button:hover {
  color: white;
  background-color: teal;
}
#hidden-project {
  display: none;
}
.con h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .con div:nth-child(6) {
    height: 30px;
  }
  #btn-con button {
    padding: 0;
    font-size: 13px;
    border: 1px solid teal;
    text-align: center;
    width: 35%;
  }
}
.con a[target="_blank"] {
  display: block;
  color: teal;
  text-decoration: none;
  font-weight: normal;
  border: 2px solid teal;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 128, 128, 0.4);
  letter-spacing: 0.1rem;
  margin: 5% 0;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.con a[target="_blank"]:hover {
  color: white;
  background-color: teal;
}
.con a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
.con img {
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.image-con {
  height: 50%;
}
.con > div:hover img {
  transform: scale(1.1);
}
.con > div {
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  height: 40rem;
}
.con p {
  font-size: 1.6rem;
}

.con-text {
  padding: 10px 5px;
}
.feature {
  height: auto;
  background-color: #e1f6ff;
  padding: 20px 0;
}
.feature h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3.5rem;
}
.wraphead {
  white-space: nowrap;
}
.feature > p {
  text-transform: capitalize;
  border: 2px solid teal;
  width: 10%;
  text-align: center;
  margin: 3rem auto;
  padding: 2rem;
  transition: 0.3s;
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
}
.paratext {
  word-spacing: -0.1em;
}
.cond {
  width: 30%;
}
.cond img {
  transition: 0.5s ease-in-out;
  width: 100%;
  height: 100%;
}
.image-con {
  height: 50%;
}
.cond > div:hover img {
  transform: scale(1.1);
}
.cond > div {
  overflow: hidden;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  height: 40rem;
}
.cond p {
  font-size: 1.6rem;
}
.cond a[target="_blank"] {
  display: block;
  color: teal;
  text-decoration: none;
  font-weight: normal;
  border: 2px solid teal;
  width: 30%;
  text-align: center;
  padding: 0.5rem;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  box-shadow: 2px 2px 4px rgba(0, 128, 128, 0.4);
  letter-spacing: 0.1rem;
  margin: 5% 0;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.cond a[target="_blank"]:hover {
  color: white;
  background-color: teal;
}
.cond a {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}
.cond {
  margin: 5% auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
  width: 30%;
}
.cond h2 {
  font-size: 2.5rem;
}
.feature > p:hover {
  background-color: teal;
  color: white;
}
@media (max-width: 480px) {
  .feature h1 {
    font-size: 15px;
  }
  .feature p {
    font-size: 13px;
    width: 30%;
    border: 1px solid teal;
    padding: 4px;
  }
  .feature {
    height: 150px;
  }
}
@media (max-width: 480px) {
  .con {
    grid-template-columns: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    margin: 5%;
  }
  .con a[target="_blank"] {
    padding: 2px;
    width: 90%;
    border: 1px solid teal;
    box-shadow: 2px 2px 4px rgba(0, 128, 128, 0.4);
    color: teal;
    border-radius: 5px;
    margin: auto;
    font-size: 10px;
    margin-bottom: -40%;
  }
  .con h2 {
    font-size: 15px;
  }
  .con p {
    font-size: 10px;
  }
  .image-con {
    padding: 5px;
  }

  .con > div > div {
    height: 50%;
  }
  .con > div {
    border-radius: 5px;
    box-shadow: non;
  }
  .con > div:nth-child(-n + 2) {
    height: 200px;
  }
  .con > div:nth-child(3),
  .con > div:nth-child(4),
  .con > div:nth-child(5) {
    height: 300px;
  }
  .paratext {
    word-spacing: normal;
  }
  .hide {
    height: 50%;
  }
  .hide img {
    height: 100%;
  }
}

.contact-head {
  text-align: center;
}
.contact-body a {
  display: block;
  text-decoration: none;
  color: teal;
}
.contact-body {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 30px auto 30px auto;
}
textarea {
  width: 350px;
  height: 100px;
  resize: none;
  border: 1px solid teal;
  outline: none;
}
.contact-body button {
  display: block;
}
.contact-body p {
  margin-bottom: 10px;
}
.contact-body input {
  width: 350px;
  height: 30px;
  border: 1px solid teal;
  outline: none;
}
.contact-body a {
  margin-bottom: 10px;
}
.contact-head h2 {
  margin: 10px 0;
  font-size: 2.5rem;
}
.contact-head p {
  font-size: 1.6rem;
}
.location {
  display: flex;
  column-gap: 10px;
}
#contact {
  padding: 20px 0;
}
#contact h4 {
  text-transform: capitalize;
  font-size: 2rem;
}
.contact-body p,
i,
a {
  font-size: 1.6rem;
}
form button {
  border: 1px solid teal;
  background-color: white;
  color: teal;
  transition: 0.5s ease-in-out;
  padding: 10px;
  border-radius: 5px;
}
form button:hover {
  background-color: teal;
  color: white;
}

form input::placeholder {
  text-transform: capitalize;
}
@media (max-width: 480px) {
  .contact-head h2 {
    font-size: 25px;
  }
  .contact-head p {
    font-size: 15px;
  }
  .contact-body {
    flex-direction: column-reverse;
    width: 100%;
    text-align: center;
  }
  .contact-body input {
    width: 90%;
    margin-bottom: 5px;
  }
  .contact-body > div {
    width: 100%;
  }
  .location {
    justify-content: center;
  }
  .contact-body button {
    margin: 15px auto;
    width: 90%;
    padding: 8px;
  }
  .contact-body textarea {
    width: 90%;
  }
  .contact-body div:nth-child(1) {
    font-size: 13px;
  }
  .contact-body a {
    text-decoration: none;
    color: teal;
  }
  form button {
    border: 1px solid teal;
    background-color: white;
    color: teal;
    transition: 0.5s ease-in-out;
  }
  form button:hover {
    background-color: teal;
    color: white;
  }
}
footer {
  background-color: black;
  padding: 30px 0;
}
footer h2 {
  color: white;
  text-align: center;
}
footer div:nth-child(2) {
  border-top: 1px solid white;
}
.ficons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 10px auto;
}
.ficons a {
  color: white;
}
@media (max-width: 480px) {
  footer h2 {
    font-size: 10px;
  }
  footer a {
    color: white;
  }
  .ficons {
    width: 70%;
  }
}
